@model HousePricing.Models.House

@{
    ViewData["Title"] = "Predict";
}

<h1>Predict</h1>

<div>
    <h4>House</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedroomCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedroomCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BathroomCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BathroomCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBasement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBasement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
